.navbar {
    width: 100%;
    height: 80px;
    box-shadow: 1px 3px 13px rgba(53, 2, 53, 1);
    background: linear-gradient(lightpink, beige);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin: 0px;
    padding: 0px;
    text-align: center;

}

.navbar-menu li{
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.navbar-menu li a{
    display: inline-block;
    color:rgba(53, 2, 53);
    text-decoration: none;
    font-size: 25px;
    font-weight: 100%;
    padding: 25px;
}
.navbar-menu li a:hover {
    color:rgb(138, 197, 119);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);

}
.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
}

.navbar-brand{
    font-weight: 1000;
    font-size:22px;
    text-decoration: none;
    color: rgba(53, 2, 53);
    text-align: center;
    text-shadow:rgb(10, 215, 24) 1px 1px 3px;
    padding: 12px;
    border-style: double;
    border-color: greenyellow;
}
.navbar:before{
    content: " ";
    display: block;
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;

}

body{
    background: rgb(252, 252, 209);
    background-size: 500px;
}

.head{
    background:rgb(209, 248, 209);
    box-shadow: 0px 0px 13px;
    padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
body{
    margin: 0px;
    text-align: center;
}

.more{
    page-break-after: always;
}
body{
    margin: 0px;
}
.gardenflowers{
    font-weight: 1000;
    font-size: 30px;
    color: black;
    text-shadow: green 0px 0px 3px;
    padding-top: 10px;
    text-align: center;
}

.textgardenflowers{
    font-weight: 1000;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.crokus{
    width: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 18px green;
}
.crokustext{
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
    text-shadow: 0px 1px 5px rgb(244, 122, 142)
}
.crokustext1{
    font-weight: 100;
    text-align: center;
}
.tulip{
    width: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 18px green;
}
.tuliptext{
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
    text-shadow: 0px 1px 5px rgb(244, 122, 142);
}
.tuliptext1{
    font-weight: 100;
    text-align: center;
}
.narcis{
    width: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 18px green;
}
.narcistext{
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
    text-shadow: 0px 1px 5px rgb(244, 122, 142);
}
.narcistext1{
    font-weight: 100;
    text-align: center;
}
.floks{
    width: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 18px green;
}
.flokstext{
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
    text-shadow: 0px 1px 5px rgb(244, 122, 142);
}
.flokstext1{
    font-weight: 100;
    text-align: center;
}
.barhatsi{
    width: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 18px green;
}
.barhatsitext{
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
    text-shadow: 0px 1px 5px rgb(244, 122, 142);
}
.barhatsitext1{
    font-weight: 100;
    text-align: center;
}